.block {
  display: grid;
  gap: rem(24px);
  text-align: center;
}

.link {
  @include flex($justify-content: center, $wrap: wrap);

  gap: rem(4px);
  margin-block-end: rem(12px);
  font-size: rem(14px);
}
