.block {
  display: grid;
  gap: rem(24px);
  min-height: rem(200px);
  text-align: center;
}

.list {
  --crypto-count: 2;

  display: grid;
  grid-template-columns: repeat(var(--crypto-count), 1fr);
  gap: var(--gap-default);

  @include mob-m {
    --crypto-count: 3;
  }

  @include tab-s {
    --crypto-count: 4;
  }
}

.card {
  display: grid;
  gap: var(--gap-default);
  padding: rem(12px);
  border-radius: var(--border-radius-default);
  background-color: var(--material-hover);
  overflow: hidden;
  pointer-events: none;
}
