.mask {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: var(--gap-default);
}

.hidden {
  cursor: pointer;
  font-weight: var(--typography-bold);
  color: var(--link);
}
