@use '@/scss/config' as *;

.block {
  display: grid;
  align-content: flex-start;
  gap: var(--gap-16);

  @include tab-s {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desk-s {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.link {
  @include flex($justify-content: center, $direction: column);

  gap: var(--gap-default);
  padding: var(--gap-16);
  position: relative;
  border-radius: var(--border-radius-16);
  background-color: var(--material);
  overflow: hidden;
  min-height: rem(132px);

  &.center {
    justify-content: center;
    align-items: center;
  }

  @include desk-s {
    justify-content: flex-end;
  }
}

.icon {
  @include size(rem(150px));
  @include flex(center, center);
  @include absolute-center-right(rem(-20px));

  background-color: var(--material-hover);
  border-radius: 50%;

  i {
    @include size(rem(60px));

    font-size: rem(60px);
    color: var(--link);

    @include desk-s {
      @include size(rem(120px));

      font-size: rem(120px);
    }
  }

  @include desk-s {
    @include size(rem(240px));

    right: rem(-40px);
  }
}

.subtitle {
  @include flex($align-items: baseline);

  position: relative;
  z-index: $z-index-1;
  gap: var(--gap-default);
  font-size: rem(32px);
  max-width: calc(100% - rem(150px));
}

.amount {
  font-size: rem(16px);
}
