.form {
  display: grid;
  gap: rem(24px);
  margin-inline: auto;
  padding: rem(24px);
  border-radius: rem(16px);
  width: 100%;
  background-color: var(--material);
  overflow: hidden;
  text-align: center;

  @include tab-s {
    max-width: rem(460px);
  }
}

.title {
  font-size: rem(20px);
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, rem(24px));
  justify-content: center;
  gap: rem(40px);
}

.step {
  @include flex(center, center);
  @include size(rem(24px));

  position: relative;
  border-radius: 50%;
  background-color: var(--material-hover);
  font-size: rem(14px);
  color: var(--text-for-material);

  &:not(:last-child) {
    &::after {
      @include size(rem(32px), rem(2px));

      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: calc(100% + rem(4px));
      border-radius: rem(4px);
      background-color: var(--material-hover);
      transform: translateY(0);
      content: '';
    }
  }

  &.active {
    background-color: var(--brand);
  }

  &.completed {
    background-color: transparent;
    color: var(--green);
  }
}

.container {
  display: grid;
  gap: rem(12px);
}

.link {
  @include flex($justify-content: center, $wrap: wrap);

  gap: rem(4px);
  font-size: rem(14px);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: var(--gap-default);
}

.bonus {
  display: grid;
  grid-template-columns: auto rem(50px);
  align-items: center;
  gap: var(--gap-default);
}

.image {
  @include size(100%, rem(50px));
}

.divider {
  margin-block: var(--gap-default);
}
