.block {
  @include size(100%);

  display: grid;

  @include tab-m {
    grid-template-columns: 1.2fr 1fr;
  }
}

.banner {
  object-fit: cover;

  &.mobile {
    object-position: left;
    border-top-left-radius: rem(16px);
    border-top-right-radius: rem(16px);
    min-height: rem(150px);

    @include tab-m {
      display: none;
    }
  }

  &.desktop {
    object-position: center;
    display: none;
    position: sticky;
    top: calc(var(--header-height) + rem(16px));
    height: calc(100dvh - var(--header-height) - rem(32px));
    border-top-left-radius: rem(16px);
    border-bottom-left-radius: rem(16px);

    @include tab-m {
      display: block;
    }
  }
}

.form {
  display: grid;
  align-content: start;
  gap: rem(24px);
  padding: rem(24px);
  border-bottom-left-radius: rem(16px);
  border-bottom-right-radius: rem(16px);
  background-color: var(--material);
  overflow: hidden;
  text-align: center;

  @include tab-m {
    border-radius: 0 rem(16px) rem(16px) 0;
  }
}

.title {
  font-size: rem(20px);
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, rem(24px));
  justify-content: center;
  gap: rem(40px);
}

.step {
  @include flex(center, center);
  @include size(rem(24px));

  position: relative;
  border-radius: 50%;
  background-color: var(--material-hover);
  font-size: rem(14px);
  color: var(--text-for-material);

  &:not(:last-child) {
    &::after {
      @include size(rem(32px), rem(2px));

      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: calc(100% + rem(4px));
      border-radius: rem(4px);
      background-color: var(--material-hover);
      transform: translateY(0);
      content: '';
    }
  }

  &.active {
    background-color: var(--brand);
  }

  &.completed {
    background-color: transparent;
    color: var(--green);
  }
}

.container {
  display: grid;
  gap: rem(12px);
}

.link {
  @include flex($justify-content: center, $wrap: wrap);

  gap: rem(4px);
  font-size: rem(14px);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: var(--gap-default);
}

.bonus {
  display: grid;
  grid-template-columns: auto rem(50px);
  align-items: center;
  gap: var(--gap-default);
}

.image {
  @include size(100%, rem(50px));
}

.divider {
  margin-block: var(--gap-default);
}

.success {
  display: grid;
  justify-items: center;
  gap: rem(16px);
  margin-top: rem(24px);
}

.icon {
  @include flex(center, center);
  @include size(rem(50px));

  border-radius: 50%;
  background-color: var(--green);
}
