.block {
  @include size(rem(304px), rem(110px));

  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr rem(88px);
  position: relative;
  border-radius: rem(10px);
  background-color: var(--material);
  overflow: hidden;

  @include hover {
    &:hover {
      .hidden {
        transform: translateX(0);
      }
    }
  }
}

.action {
  @include absolute-filled;

  z-index: $z-index-1;

  @include desk-s {
    display: none;
  }
}

.info,
.hidden {
  position: relative;
  padding: rem(16px);
}

.info {
  position: relative;
  overflow: hidden;
}

.hidden {
  @include flex($justify-content: space-between, $direction: column);
  @include transition;

  position: absolute;
  inset: 0;
  background-color: var(--material);
  transform: translateX(100%);
}

.title {
  font-size: rem(12px);
}

.image {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.winnings {
  @include flex(null, baseline);

  gap: rem(4px);
  margin-block-end: var(--gap-default);
}

.currency {
  font-size: rem(12px);
  color: var(--sub-text);

  strong {
    color: var(--text-for-brand);
  }
}

.player {
  @include flex(null, center);

  gap: rem(6px);
  font-size: rem(12px);
}
