@use '@/scss/config' as *;

.block {
  --slide-width: 19rem; // 304px
  --slide-spacing: var(--gap-default);

  position: relative;
  overflow: hidden;
  contain: layout;

  &::after {
    position: absolute;
    inset-block: 0;
    inset-inline-end: rem(-1px);
    z-index: $z-index-1;
    background: linear-gradient(90deg, transparent 0%, var(--bg) 100%);
    width: rem(64px);
    content: '';
  }
}

.slider {
  display: grid;
}

.slide {
  flex: 0 0 calc(var(--slide-width) + var(--slide-spacing));
  padding-inline-end: var(--slide-spacing);
}
