.block {
  width: 100%;

  &.inverted {
    .scale {
      background-color: var(--material-disabled);
    }
  }
}

.header {
  @include flex(space-between, center);

  gap: rem(4px);
  margin-block-end: rem(4px);
  font-size: rem(12px);
}

.scale {
  @include size(100%, rem(8px));

  position: relative;
  border-radius: rem(2px);
  background-color: var(--material);
  overflow: hidden;
}

.value {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  background-color: var(--link);
}
