@use '@/scss/config' as *;

.block {
  --logo-size: 1.875rem; // 30px

  @include size(var(--logo-size), auto);

  display: block;
  flex-shrink: 0;

  @include desk-s {
    --logo-size: 9.0625rem; // 145px
  }
}
