.block {
  display: grid;
  gap: rem(24px);
  text-align: center;
}

.container {
  display: grid;
  gap: rem(12px);
}

.link {
  @include flex(center, $wrap: wrap);

  gap: rem(4px);
  font-size: rem(14px);
}
