.block {
  @include size(rem(8px));

  display: inline-flex;
  border: rem(1px) solid var(--material);
  border-radius: 50%;

  &-1 {
    background-color: var(--red);
  }

  &-2 {
    background-color: var(--yellow);
  }

  &-3 {
    background-color: var(--green);
  }

  &.default {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &.md {
    @include size(rem(10px));
  }
}
