.block {
  position: sticky;
  top: var(--tg-safe-top);
  margin-inline: rem(-16px);
  z-index: $z-index-9;
  background-image: linear-gradient(180deg, var(--material) 0%, var(--bg) 88%);
  height: var(--header-height);
  box-shadow: var(--box-shadow-default);

  @include desk-s {
    margin-inline: 0;
    padding-block: var(--gap-default);
    background: none;
    box-shadow: none;
  }
}

.logo {
  @include size(rem(145px), rem(36px));

  display: block;
  flex-shrink: 0;
}

.container {
  @include flex(space-between, center);

  position: relative;
  padding-inline: var(--gap-2);
  padding: var(--gap-2) var(--gap-16);
  gap: var(--gap-24);
  margin-inline: auto;
  max-width: var(--max-width);
  height: 100%;

  @include desk-s {
    padding-block: 0;
    border: rem(1px) solid var(--tertiary-disabled);
    border-radius: var(--border-radius-full);
    backdrop-filter: blur(rem(36px));
  }
}

.right,
.wrapper {
  @include flex;

  position: relative;
  gap: var(--gap-4);

  @include tab-s {
    gap: var(--gap-default);
  }
}

.wrapper {
  align-items: center;
}

.right {
  align-items: flex-end;
  flex-direction: column-reverse;

  @include tab-s {
    flex-direction: row;
    align-items: center;
  }
}

.balance {
  @include flex($align-items: center);

  gap: var(--gap-4);
  overflow: hidden;
  font-size: rem(14px);
  line-height: 1;

  strong {
    @include ellipsis;
  }

  span {
    font-size: rem(12px);
  }
}

.avatar {
  position: relative;
}

.account {
  position: fixed;
  inset-inline: 0;
  inset-block-end: calc(var(--aside-height) + var(--tg-safe-bottom));
  padding: var(--gap-12) var(--gap-16);
  border-bottom: rem(1px) solid var(--tertiary-disabled);
  background-color: var(--bg);

  @include desk-s {
    position: static;
    padding: 0;
    border-bottom: 0;
    background-color: transparent;
  }
}
