@use '@/scss/config' as *;

.block {
  --slide-width: 320px;
  --slide-spacing: var(--gap-default);

  &:has(.prev:disabled) {
    .prev {
      opacity: 0;
      z-index: -1;
    }

    .slider {
      &::before {
        opacity: 0;
        z-index: -1;
      }
    }
  }

  &:has(.next:disabled) {
    .next {
      opacity: 0;
      z-index: -1;
    }

    .slider {
      &::after {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

.slider {
  display: grid;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include transition;

    position: absolute;
    inset-block: 0;
    background: linear-gradient(90deg, transparent 0%, var(--bg) 100%);
    width: rem(65px);
    opacity: 1;
    z-index: $z-index-2;
    content: '';
  }

  &::before {
    inset-inline-start: rem(-1px);
    transform: scaleX(-1);
  }

  &::after {
    inset-inline-end: rem(-1px);
  }
}

.navigation {
  @include flex(space-between, center);

  position: absolute;
  inset: 50% 0 auto;
  height: 0;
  z-index: $z-index-3;
}

.prev,
.next {
  position: relative;

  &:disabled {
    opacity: 0;
    z-index: -1;
  }
}

.dots {
  @include flex(center, center);

  gap: var(--gap-8);
  padding-inline: var(--gap-default);
  height: rem(22px);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.dot {
  @include transition;
  @include size(rem(8px));

  background-color: var(--primary-disabled);
  border-radius: 50%;

  &.active {
    background-color: var(--brand);
    width: rem(16px);
    border-radius: var(--border-radius-4);
  }
}

.slide {
  flex: 0 0 calc(var(--slide-width) + var(--slide-spacing));
  padding-inline-end: var(--slide-spacing);

  &:last-child {
    flex: 0 0 var(--slide-width);
    padding-inline-end: 0;
  }
}
