.block {
  @include flex(center, center, column);

  gap: rem(4px);
  position: relative;
  aspect-ratio: 1 / 1.12;
  border: rem(1px) solid var(--primary);
  border-radius: rem(10px);
  background-color: var(--material);
  overflow: hidden;
  font-family: var(--font-family-alt), sans-serif;
  font-size: rem(14px);
  text-transform: uppercase;

  &::after {
    position: absolute;
    inset: 0;
    background-color: color-alpha(var(--material), 0.65);
    content: '';
  }

  @include hover {
    &:hover {
      .image {
        transform: scale(1.05);
      }
    }
  }
}

.image {
  @include transition;

  object-fit: cover;
}

.icon,
.text {
  position: relative;
  z-index: $z-index-1;
}
