.content {
  padding: rem(16px);
  border-radius: rem(10px);
  background-color: var(--material);
  overflow: hidden;
}

.image {
  margin-block-end: rem(16px);
  border-radius: rem(6px);
  object-fit: cover;
}
