@use '@/scss/config' as *;

.block {
  @include flex(center, center);

  gap: var(--gap-default);
  background-color: var(--material);
  padding: var(--gap-default) var(--gap-16);
  border-radius: var(--border-radius-10);
  border: rem(1px) solid var(--primary-hover);
  overflow: hidden;
  font-size: rem(14px);

  &.active {
    pointer-events: none;
    background-color: var(--primary);
  }

  @include hover {
    &:hover {
      background-color: var(--material-hover);
    }
  }
}

.picture {
  @include size(rem(60px), rem(30px));

  position: relative;
  flex-shrink: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gap-default);
  width: 100%;
}

.count {
  color: var(--link);
}
