.content {
  padding: var(--gap-16);
  background-color: var(--material);
  border-radius: var(--border-radius-10);
  overflow: hidden;
}

.image {
  margin-bottom: var(--gap-16);
  border-radius: var(--gap-6);
  aspect-ratio: 16 / 8;
  object-fit: cover;
}

.button {
  margin-top: var(--gap-16);
}
