.block {
  display: grid;
  align-items: flex-start;
  gap: rem(32px);

  @include desk-s {
    grid-template-columns: rem(460px) 1fr;
  }
}

.column {
  display: grid;
  gap: rem(12px);
}

.actions {
  @include flex(flex-end);

  gap: rem(12px);
}
