.form {
  display: grid;
  gap: rem(24px);
  margin-inline: auto;
  padding: rem(24px);
  border-radius: rem(16px);
  width: 100%;
  background-color: var(--material);
  overflow: hidden;
  text-align: center;

  @include tab-s {
    max-width: rem(460px);
  }
}

.title {
  font-size: rem(20px);
}

.container {
  display: grid;
  gap: rem(12px);
}

.link {
  @include flex($justify-content: center, $wrap: wrap);

  gap: rem(4px);
  font-size: rem(14px);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: var(--gap-default);
}

.divider {
  margin-block: var(--gap-default);
}
