@use '@/scss/config' as *;

.block {
  opacity: 0;
  overflow: hidden;
  contain: layout;

  &:has(:global(.swiper-initialized)) {
    opacity: 1;
  }
}

.slider {
  display: grid;
  width: 100%;
}

.providers {
  @include flex($align-items: center);
  @include scroll-x;

  gap: var(--gap-default);
  margin-top: var(--gap-default);
}

.toggle {
  @include flex($align-items: center);

  padding: var(--gap-default) var(--gap-16);
  background-color: var(--material);
  border: rem(1px) solid var(--primary-hover);
  border-radius: var(--border-radius-full);
  overflow: hidden;
  gap: var(--gap-6);
  height: rem(48px);
  text-align: center;
  font-size: rem(14px);
  line-height: 1;

  @include hover {
    &:hover {
      background-color: var(--material-hover);
    }
  }
}
