@use '@/scss/config' as *;

.block {
  --slide-width: 12.5rem; // 200px
  --slide-spacing: var(--gap-default);

  display: grid;
  overflow: hidden;
  width: 100%;
}

.slide {
  flex: 0 0 calc(var(--slide-width) + var(--slide-spacing));
  padding-inline-end: var(--slide-spacing);

  &:last-child {
    flex: 0 0 var(--slide-width);
    padding-inline-end: 0;
  }
}

.skeleton {
  --skeleton-cols: 2;
  --skeleton-rows: 1;
  --skeleton-height: 4.625rem; // 74px

  @include mob-m {
    --skeleton-cols: 3;
  }

  @include tab-m {
    --skeleton-cols: 5;
  }
}
