.table {
  display: grid;
}

.scroll {
  @include scroll-x;
}

.row {
  display: grid;
  grid-template-columns: rem(80px) rem(160px) repeat(4, 1fr) rem(160px) rem(80px);
  gap: var(--gap-2);
  min-width: rem(1000px);
  font-size: rem(14px);

  &.first {

    .cell {
      background-color: var(--primary-hover);

      &:first-child {
        border-radius: rem(8px) 0 0 0;
      }

      &:last-child {
        border-radius:  0 rem(8px) 0 0;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--gap-2);
  }

  &:not(.first) {

    &:last-child {

      .cell {

        &:first-child {
          border-radius: 0 0 0 rem(8px);
        }

        &:last-child {
          border-radius:  0 0 rem(8px) 0;
        }
      }
    }
  }
}

.cell {
  @include flex($align-items: center, $wrap: wrap);

  background-color: var(--primary-disabled);
  padding: var(--gap-default);
  gap: var(--gap-default);
}
