.block {
  display: grid;
  position: relative;
  margin-inline: rem(-16px);
  padding-block-end: var(--aside-height);
  border-radius: rem(16px) rem(16px) 0 0;
  background-color: var(--material-hover);
  font-size: rem(14px);
  color: var(--text-for-material-disabled);

  @include desk-s {
    padding-block-end: 0;
    z-index: 0;
  }

  &.auth {
    padding-block-end: calc(var(--aside-height) + rem(57px));

    @include desk-s {
      padding-block-end: 0;
    }
  }
}

.container {
  margin-inline: auto;
  padding: rem(24px) rem(16px);
  width: 100%;
  max-width: var(--max-width);
}

.top {
  display: grid;
  gap: rem(24px);

  @include tab-s {
    grid-template-columns: repeat(2, 1fr);
  }
}

.column {
  grid-column: 1 / -1;

  .list {
    @include tab-s {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.list {
  display: grid;
  align-content: flex-start;
  gap: var(--gap-default);
  margin-block-start: rem(12px);

  @include mob-m {
    grid-template-columns: repeat(2, 1fr);
  }
}

.subtitle {
  font-size: rem(14px);
}

.link {
  padding-inline: 0;
}

.divider {
  margin-block: rem(24px);
}

.bottom {
  display: grid;
  justify-items: flex-start;
  gap: rem(16px);
  position: relative;
  padding-inline-end: rem(40px);
}

.up {
  position: absolute;
  inset-block-start: var(--gap-default);
  inset-inline-end: 0;
}

.copyright {
  font-size: rem(12px);
}

.socials {
  @include flex(null, center);

  gap: rem(24px);
}

.social {
  @include hover {
    &:hover {
      color: var(--text-for-material);
    }
  }
}
